/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
html, body {
  height: 100%;
  margin: 0;
}
html {

}
body {
  color: #5a5a5a;
  background-color: #fff;
  background-image: url(../img/bg.png);
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}
#footer {
  height: 60px;
  background: #fff;
  padding-top: 20px;
  -webkit-box-shadow:  0px 0px 10px rgba(50, 50, 50, 0.6);
  -moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 0.6);
  box-shadow:         0px 0px 10px rgba(50, 50, 50, 0.6);
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: relative;
  z-index: 15;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 60px;

  /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  /*margin-top: -90px;*/
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  /*height: 500px;*/
  /*background-color: #777;*/
}
.carousel-inner > .item > img {
  /*height: 500px;*/
  width: 100%;
  padding: 0!important;

  -webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.6);
  -moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 0.6);
  box-shadow:         0px 0px 10px rgba(50, 50, 50, 0.6);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 0px;
    margin-bottom: 30px;
  }
}

#content{
  padding-top: 90px; 
}
#content .marketing{
  background: #fff;
  -webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.6);
  -moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 0.6);
  box-shadow:         0px 0px 10px rgba(50, 50, 50, 0.6);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
}

th {
  background-color: #656565;
  font-weight: bold;
  font-size: 15px;
  padding: 0 10px;
  color: #fff;
  text-shadow: #414141 0 1px 0px;
  line-height: 40px;
}
tr:first-child th:first-child {
  -webkit-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
}
tr:first-child th:last-child {
  -webkit-border-top-right-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
}

/*таблица продукции*/
.production-table{
  margin: 0 15px;
  max-width: 100%;
  width: auto;
}
.production-table tbody > tr > td{
  border-top: none;
}
.production-table tbody > tr.odd{
  background-color: #f9f9f9;
}
.production-table tbody > tr.table-border{
  border-bottom: 1px solid #ddd;
}
.price {
  text-align: center;
  padding-top: 39px!important;;
}
.table-block{
  white-space: nowrap;
}
/*таблица продукции конец*/

.form-horizontal .control-group {
  margin-bottom: 20px;
}
.form-horizontal .control-label {
  float: left;
  width: 160px;
  padding-top: 5px;
  text-align: right;
  display: block;
  margin-bottom: 5px;
}
.form-horizontal .controls {
  margin-left: 180px;
}